header{
  background: url(imgs/helloMed.jpg);
  background-size: cover;
  background-position: center;
  min-height: 1000px;
}
@media screen and (max-width: 670px){
  header{
    min-height: 500px;
  }
}
.section{
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.ashley {
    color: white;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}
.ashleySmall {
  color: white;
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.linkStyle{
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}

.projectsHeader {
  text-align: center;
}

.projects {
  font-weight: bold;
  color: deepskyblue;
  font-family: 'Gruppo', cursive;
  font-size: 35px;
}

.smallProjects {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

/* .card-padding{
  padding: 10px;
  border: 10px;
} */

.testLinks {
  font-size: 15px;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: black;
}

main {
  flex: 1 0 auto;
}
