header{
  background: url(imgs/helloMed.jpg);
  background-size: cover;
  background-position: center;
  min-height: 800px;
}
@media screen and (max-width: 670px){
  header{
    min-height: 300px;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: black;
}

.navigationbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.section{
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.ashley {
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}
.ashleySmall {
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.linkStyle{
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.responsive {
  max-width: 80%;
  height: auto;
}

.projectsHeader {
  text-align: center;
}

.projects {
  font-weight: bold;
  color: deepskyblue;
  font-family: 'Gruppo', cursive;
  font-size: 35px;
}

.smallProjects {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.cardBodyBorder {
  border: solid;
  border-color: rgb(146, 12, 255);
  /* border-color: rgb(229, 113, 233); */
}

/* .card-padding{
  padding: 10px;
  border: 10px;
} */

.testLinks {
  font-size: 20px;
}

/* body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: black;
} */


/*CSS for potential form input

/* .contact-title {
  text-align: center;
  margin-top: 50px;
  color: #fff;
  text-transform: uppercase;
  transition: all 4s ease-in-out;
}

.contact-title h1{
font-size: 32px;
line-height: 10px;
}
.contact-title h2{
  font-size: 16px;
}

.contact-form {
  background-color: rgba(47, 45, 48, 0.568);
}

form {
  margin: 50px;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: #fff;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

form .submit {
  background: #5120d6fd;
  border-color: transparent;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
  max-width: 50%;
  vertical-align: middle;
}

form .submit:hover{
  background-color: #f44336;
  cursor: pointer;

} */


main {
  flex: 1 0 auto;
}
