header{
  background: url(imgs/helloMed.jpg);
  background-size: cover;
  background-position: center;
  min-height: 800px;
}

@media screen and (max-width: 670px){
  header{
    min-height: 300px;
  }
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: black;
}

.navigationbar {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: none;
}

.section{
  padding-top: 4vw;
  padding-bottom: 4vw;
}

.ashley {
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
}
.ashleySmall {
  color: white;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
}

.linkStyle{
  color: white;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
}
.responsive {
  max-width: 80%;
  height: auto;
}

.projectsHeader {
  text-align: center;
}

.projects {
  font-weight: bold;
  color: deepskyblue;
  font-family: 'Gruppo', cursive;
  font-size: 35px;
}

.smallProjects {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.cardBodyBorder {
  border: solid;
  border-color: rgb(146, 12, 255);
  /* border-color: rgb(229, 113, 233); */
}

/* .card-padding{
  padding: 10px;
  border: 10px;
} */

.testLinks {
  font-size: 20px;
}

/* body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: black;
} */

.contact-container {
  background: rgba(255,255,255, 0.5);
  border-radius: 5px;
}

.contact-text {
  background: rgba(255,255,255, 0.5);
  color: black;
  font-size: 30px;
  font-weight: bolder;
}


main {
  flex: 1 0 auto;
}
